<div class="header">
  <div class="container-items">
    <div class="container-notification">
      <img src="../../../../assets/vectors/notificationIcon.svg" alt="notification" class="icon-notification"/>
      <div class="notification-counter">
          1
      </div>
    </div>
    <div class="header-data">
      <span class="name">Usuario</span>
      <span class="role">Administrador</span>
    </div>
    <div class="container-image-profile">
      <img src="../../../../assets/vectors/profilePreterminate.svg" alt="profileImage" (click)="onShowHideMenu()"/>
      <div *ngIf="openProfileMenu" class="container-account">
        <ul>
          <li routerLink="/auth/login">Cerrar sesion</li>
        </ul>
      </div>
    </div>
  </div>
</div>
