<div class="header">
  <div class="menu-mobile" (click)="showSidebar()">
    <span class="material-icons">menu</span>
  </div>
  <div class="container-items">
    <div class="header-data">
      <span class="name">{{userName}}</span>
      <span class="role">{{roleName}}</span>
    </div>
    <div class="container-image-profile">
      <img src="../../../../assets/vectors/profilePreterminate.svg" alt="profileImage" (click)="onShowHideMenu()"/>
      <div *ngIf="openProfileMenu" class="container-account">
        <ul>
          <li (click)="logOut()">Cerrar sesion</li>
        </ul>
      </div>
    </div>
  </div>
</div>
