<div class="container">
    <img src="../../../../../../assets/images/pencil.png" alt="pencil" class="pencil"/>
    <div class="title">
      <span class="material-icons">
        menu_book
      </span>
      <span>Agregar Incidente</span>
    </div>
    <form class="container-form" [formGroup]="formCreateIncident" (ngSubmit)="onSubmit($event)">
      <div class="form-group">
        <label class="label-form">Titulo</label>
        <input class="input-text-form" formControlName="title" type="text" placeholder="Ingrese el titulo de la incidencia"/>
        <div *ngIf="formCreateIncident.controls['title'].invalid && pushSubmit" class="alert">
          <div *ngIf="formCreateIncident.controls['title'].errors">
            El titulo debe de tener mas de 2 caracteres
          </div>
        </div>
      </div>
      <div class="group-form">
        <div class="form-group">
          <label class="label-form">Asignación</label>
          <p>{{idAssigment}}</p>
          <button (click)="openModalAssigment()" type="button">
            Seleccionar
          </button>
          <div *ngIf="formCreateIncident.controls['assigment'].invalid && pushSubmit" class="alert">
            <div *ngIf="formCreateIncident.controls['assigment'].errors">
              Debes seleccionar una asignacion
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="label-form">Estado incidente</label>
          <select class="input-text-form" type="text" formControlName="incidentStatus">
            <option value="" disabled selected hidden>Ingrese el estado del incidente</option>
            <option *ngFor="let item of status" [value]="item.id">{{item.name}}</option>
          </select>
          <div *ngIf="formCreateIncident.controls['incidentStatus'].invalid && pushSubmit" class="alert">
            <div *ngIf="formCreateIncident.controls['incidentStatus'].errors">
              Debes seleccionar un estado
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="label-form"> Descripcion</label>
        <textarea class="text-text-form" formControlName="description" placeholder="Ingresar la descripcion del incidente"></textarea>
        <div *ngIf="formCreateIncident.controls['description'].invalid && pushSubmit" class="alert">
          <div *ngIf="formCreateIncident.controls['description'].errors">
            La descripción debe tener mas de 5 caracteres
          </div>
        </div>
      </div>

      <!-- <div class="group-form">

        <div class="form-group">
          <label class="label-form">Estado de asingnacion incidente</label>
          <select class="input-text-form" formControlName="rol" type="text">
            <option value="" disabled selected hidden>Seleccione la cedula</option>
            <option value="a">1234</option>
            <option value="a">4321</option>
            <option value="a">00000</option>
            <option value="a">1112233</option>
          </select>
        </div>
      </div>
      <div class="group-form">
        <div class="group-form-half">
          <div class="form-group">
          <label class="label-form"> Nombre </label>
          <span>XXXX_XXXX</span>
         </div>
         <div class="form-group">
          <label class="label-form"> Apellido </label>
          <span>XXXX_XXXXX</span>
        </div>
      </div>
      <div class="group-form">
        <div class="form-group">
          <label class="label-form"> Usuario </label>
           <span>aaaa</span>
        </div>
          <div class="form-group">
           <label class="label-form">Rol</label>
            <span>usuario</span>
         </div>
         <div class="form-group">
          <label class="label-form"> Cargo </label>
          <span>bbbbb</span>
        </div>
      </div>
      </div> -->
      <div class="button">
        <button class="button-primary" type="submit"> Agregar </button>
      </div>
    </form>
  </div>
