<div class="container">
    <div class="title">
      <span class="material-icons">
        visibility
      </span>
      <span>Ver incidente</span>
    </div>
  
    <div class="basic-information">
      <div class="icon">
        I
      </div>
      <div class="information">
        <span>Computador no prende</span>
        <span>tipo</span>
      </div>
      <div class="status">
        En progreso
      </div>
    </div>
  
    <div class="container-float">
      <div class="container-information-float w-50">
            <div class="title-contain-information">
                 <span class="material-icons">
                  </span>
          <span>Nombre del usuario: Juan Sebastian Parra </span>
        </div>
        <span>Rol</span>
        <span>Usuario</span>
        <span>Cargo</span>
      </div>
      <div class="container-information-float w-50">
        <div class="title-contain-information">
          <span>Descripciom</span>
        </div>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti exercitationem incidunt esse, dolor quia, eligendi maiores at deserunt expedita reprehenderit quidem nihil perspiciatis? Consequatur, ducimus at inventore quae quod numquam.</span>
      </div>
    </div>


    <div class="container-float">
        <div class="container-information-float w-100">
          <div class="title-contain-information">
            <span>Solucion</span>
          </div>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non leo enim. Morbi eget luctus mauris. Nullam vel mattis ligula. Cras non facilisis leo. Curabitur eu lacus ipsum. Proin luctus commodo sem quis consectetur. Quisque aliquam volutpat volutpat. Aenean fringilla tortor ut erat fringilla, at ultrices tortor euismod.</span>
        </div>
      </div>
    
  
  
  </div>
  