<div class="container">
    <img src="../../../../../assets/images/lupa.png" alt="lupa" class="lupa"/>
    <div class="title">
      <span class="material-icons">
        devices
      </span>
      <span>Consultar usuarios</span>
    </div>

    <div class="container-search">
      <input type="text" class="input-search" placeholder="Buscar usuario" />
      <div class="button-container">
        <button class="button-primary button-size">Buscar</button>
        <button class="button-secondary button-size">Limpiar</button>
      </div>
    </div>

    <div class="container-result">
      <div class="filter-item-search">
        <span class="letter-filter">A</span>
        <div *ngFor="let item of users" (click)="hanldeRedirect(item)">
          <div class="item-search">
            <div class="icon-search">
              {{item.name.slice(0, 1)}}
            </div>
            <div class="information-search">
              <span class="information-col">{{item.name}} {{item.lastName}}</span>
              <span class="information-col">{{item.nit}}</span>
              <span class="information-col">{{item.role.name}}</span>
            </div>
            <div class="options-search">
              <span class="material-icons">
                edit
              </span>
              <span class="material-icons">
                delete
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
