<div class="container">
  <img src="../../../../../assets/images/lupa.png" alt="lupa" class="lupa"/>
  <div class="title">
    <span class="material-icons">
      devices
    </span>
    <span>Consultar asignaciones</span>
  </div>

  <div class="container-search">
    <input type="text" class="input-search" placeholder="Buscar recursos" onchange="getDataSearch(e)"/>
    <div class="button-container">
      <button class="button-primary button-size">Buscar</button>
      <button class="button-secondary button-size">Limpiar</button>
    </div>
  </div>

  <div class="container-result">
    <div class="filter-item-search" *ngFor="let arrayFiltered of assigments">
      <span class="letter-filter">{{arrayFiltered.letter}}</span>
      <div *ngFor="let item of arrayFiltered.assigment">
        <div class="item-search" (click)="value && hanldeRedirect(item)">
          <div class="icon-search">
            {{item.user.name.slice(0,1)}}
          </div>
          <div class="information-search">
            <span class="information-col">{{item.user.name}} {{item.user.lastName}}</span>
            <span class="information-col">{{item.resource.hardware ? item.resource.hardware.name : item.resource.software?.name}}</span>
            <span class="information-col">{{item.create_at.split('T')[0]}}</span>
          </div>
          <div class="options-search">
            <span class="material-icons" (click)="hanldeRedirect(item)">
              visibility
            </span>
            <span class="material-icons" (click)="editAssigment(item)" *ngIf="!value">
              edit
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
