<div class="container">
  <img src="../../../../../../assets/images/pencil.png" alt="pencil" class="pencil"/>
  <div class="title">
    <span class="material-icons">
      terminal
    </span>
    <span>Agregar Software</span>
  </div>
  <form class="container-form" [formGroup]="formCreateSoftware" (ngSubmit)="onSubmit($event)">
    <div class="group-form">
      <div class="form-group">
        <label class="label-form"> Nombre del software</label>
        <input class="input-text-form" formControlName="name" type="text" placeholder="Ingrese el nombre del software" required/>
        <div *ngIf="formCreateSoftware.controls['name'].invalid && pushSubmit" class="alert">
          <div *ngIf="formCreateSoftware.controls['name'].errors">
            El nombre debe tener mas de 5 caracteres
          </div>
        </div>
      </div>
      <div class="group-form-half">
        <div class="form-group">
          <label class="label-form"> Estado </label>
          <select class="input-text-form" type="text" formControlName="status">
            <option value="" disabled selected hidden>Seleccione el estado</option>
            <option *ngFor="let item of status" [value]="item.id">{{item.name}}</option>
          </select>
          <div *ngIf="formCreateSoftware.controls['status'].invalid && pushSubmit" class="alert">
            <div *ngIf="formCreateSoftware.controls['status'].errors">
              Debes seleccionar un item del selector
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="!showNewType">
          <label class="label-form"> Tipo</label>
          <select class="input-text-form" type="text" formControlName="type">
            <option value="" disabled selected hidden>Seleccione el tipo</option>
            <option *ngFor="let item of types" [value]="item.id">{{item.name}}</option>
            <option value="other">Otro</option>
          </select>
          <div *ngIf="formCreateSoftware.controls['type'].invalid && pushSubmit" class="alert">
            <div *ngIf="formCreateSoftware.controls['type'].errors">
              Debes seleccionar un item del selector
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="showNewType">
          <label class="label-form"> Tipo</label>
          <input class="input-text-form" formControlName="newType" type="text" placeholder="Ingrese el nuevo tipo"/>
          <div class="button">
            <button class="button-primary" type="submit"> Agregar </button>
          </div>
          <div *ngIf="formCreateSoftware.controls['newType'].invalid" class="alert">
            <div *ngIf="formCreateSoftware.controls['newType'].errors">
              El tipo debe tener mas de 2 caracteres
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="group-form">
      <div class="form-group" *ngIf="!showNewBrand">
        <label class="label-form"> Marca</label>
        <select class="input-text-form" type="text" formControlName="brand">
          <option value="" disabled selected hidden>Seleccione la marca del producto</option>
          <option *ngFor="let item of brands" [value]="item.id">{{item.name}}</option>
          <option value="other">Otro</option>
        </select>
        <div *ngIf="formCreateSoftware.controls['brand'].invalid && pushSubmit" class="alert">
          <div *ngIf="formCreateSoftware.controls['brand'].errors">
            Debes seleccionar un item del selector
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="showNewBrand">
        <label class="label-form"> Marca</label>
        <input class="input-text-form" formControlName="newBrand" type="text" placeholder="Ingrese la nueva marca"/>
        <div class="button">
          <button class="button-primary" type="submit"> Agregar </button>
        </div>
        <div *ngIf="formCreateSoftware.controls['newBrand'].invalid" class="alert">
          <div *ngIf="formCreateSoftware.controls['newBrand'].errors">
            La marca debe tener mas de 2 caracteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="label-form"> Numero de licencia</label>
        <input class="input-text-form" formControlName="licenseNumber" type="text" placeholder="Ingrese el numero"/>
        <div *ngIf="formCreateSoftware.controls['licenseNumber'].invalid && pushSubmit" class="alert">
          <div *ngIf="formCreateSoftware.controls['licenseNumber'].errors">
            El numero de licencia debe tener mas de 2 caracteres
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="label-form"> Observaciones</label>
      <textarea class="text-text-form" formControlName="observations" placeholder="Ingrese la observación"></textarea>
      <div *ngIf="formCreateSoftware.controls['observations'].invalid && pushSubmit" class="alert">
        <div *ngIf="formCreateSoftware.controls['observations'].errors">
          Las observaciones deben de tener mas de 2 caracteres
        </div>
      </div>
    </div>
    <div class="group-form">
      <div class="form-group">
        <label class="label-form"> Fecha de adquisición</label>
        <input class="input-text-form" formControlName="acquisitionDate" type="date" placeholder="Seleccione la fecha de adquisición"/>
        <div *ngIf="formCreateSoftware.controls['acquisitionDate'].invalid && pushSubmit" class="alert">
          <div *ngIf="formCreateSoftware.controls['acquisitionDate'].errors">
            Debes seleccionar una fecha de creación
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="label-form"> Fecha de renovación</label>
        <input class="input-text-form" formControlName="renovationDate" type="date" placeholder="Seleccione la fecha de renovación"/>
        <div *ngIf="formCreateSoftware.controls['renovationDate'].invalid && pushSubmit" class="alert">
          <div *ngIf="formCreateSoftware.controls['renovationDate'].errors">
            Debes seleccionar una fecha de creación
          </div>
        </div>
      </div>
    </div>
    <div class="button">
      <button class="button-primary" type="submit">{{softwareReturn ? 'Editar' : 'Agregar'}}</button>
    </div>
  </form>
</div>
