.container{
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;

  .pencil{
    position: absolute;
    right: 0;
    top: 1rem;
  }

  .title{
    padding: 2rem 3rem;
    border-radius: 20px 20px 0px 0px;
    background-color: var(--color-third);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--text-white);
    font-weight: bold;
  }

  .container-form{
    background-color: var(--color-third);
    padding: 2rem 2rem;
    border-radius: 20px;
    width: 20rem;
    display: block;
    flex-direction: column;
    gap: 2rem;
    @media screen and (min-width: 900px) {
      display: flex;
      width: 50rem;
    }

    .group-form{
      display: block;
      width: 100%;
      
      @media screen and (min-width: 900px) {
        width: 100%;
        justify-content: space-between;
        gap: 4rem;
        display: flex;
      }
      .form-group{
        width: 100%;
        margin-top: 5%;
        @media screen and (min-width: 900px) {
          width: 50%;
          margin: auto;
        }
      
        .alert{
          color: #DF2F44;
          font-size: 14px;
          font-weight: 800;
        }
      
      }
    }

    .form-group input{
      width: auto;
    }
.group-form-half{
  width: 100%;
  @media screen and (min-width: 900px) {
    display: flex;
    width: 50%;
  justify-content: space-between;
  gap: 3rem;
  }
}
    .button{
      display: flex;
        justify-content: center;
        align-items: center;
      margin-top: 5%;
      @media screen and (min-width: 900px) {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .button-primary{
        padding: 0.5rem 1.8rem;
      }
    }

  }
}



