<div class="container">
  <img src="../../../../../../assets/images/pencil.png" alt="pencil" class="pencil"/>
  <div class="title">
    <span class="material-icons">
      devices
    </span>
    <span>Agregar Hardware</span>
  </div>
  <div class="container-form">
    <div class="group-form">
      <div class="form-group">
        <label class="label-form"> Nombre del Producto</label>
        <input class="input-text-form" type="text" placeholder="Ingrese el nombre del producto"/>
      </div>
      <div class="form-group">
        <label class="label-form"> Tipo </label>
        <select class="input-text-form" type="text">
          <option value="" disabled selected hidden>Ingrese el tipo del producto</option>
          <option value="a">prueba</option>
        </select>
      </div>
    </div>
    <div class="group-form">
      <div class="form-group">
        <label class="label-form"> Marca</label>
        <select class="input-text-form" type="text">
          <option value="" disabled selected hidden>Seleccione la marca del producto</option>
          <option value="a">prueba</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="label-form"> Marca</label>
      <textarea class="text-text-form" placeholder="Ingrese el detalle del producto"></textarea>
    </div>
    <div class="group-form">
      <div class="form-group">
        <label class="label-form"> Fecha de ingreso</label>
        <input class="input-text-form" type="text" placeholder="Seleccione la fecha de ingreso"/>
      </div>
      <div class="form-group">
        <label class="label-form"> Tiempo recomendado </label>
        <input class="input-text-form" type="text" placeholder="Seleccione fecha recomendada para actualizar"/>
      </div>
    </div>
    <div class="button">
      <button class="button-primary"> Agregar </button>
    </div>
  </div>
</div>
