<div class="container">
  <img src="../../../../../../assets/images/pencil.png" alt="pencil" class="pencil"/>
  <div class="title">
    <span class="material-icons">
      devices
    </span>
    <span>Agregar Hardware</span>
  </div>
  <form class="container-form" [formGroup]="formCreateHardware">
    <div class="group-form">
      <div class="form-group">
        <label class="label-form"> Nombre del equipo</label>
        <input class="input-text-form" formControlName="nameHardware" type="text" placeholder="Ingrese el nombre del equipo"/>
      </div>
      <div class="form-group">
        <label class="label-form"> Estado equipo  </label>
        <select class="input-text-form" type="text" formControlName="hardwareStatus">
          <option value="" disabled selected hidden>Ingrese el tipo del producto</option>
          <option value="a">Buen estado</option>
          <option value="a">Pendiente arreglo</option>
          <option value="a">Dañado</option>
        </select>
      </div>
    </div>
    <div class="group-form">
      <div class="form-group">
        <label class="label-form"> Marca</label>
        <input class="input-text-form" formControlName="brand" type="text" placeholder="Ingrese la marca del equipo"/>
      </div>
      <div class="form-group">
        <label class="label-form"> Modelo</label>
        <input class="input-text-form" formControlName="model" type="text" placeholder="Ingrese el modelo del equipo"/>
      </div>
    </div>
    <div class="group-form">
      <div class="form-group">
        <label class="label-form">Tipo</label>
        <input class="input-text-form" formControlName="type" type="text" placeholder="Ingrese el tipo de equipo"/>
      </div>
      <div class="form-group">
        <label class="label-form"> Observaciones</label>
        <textarea class="text-text-form" formControlName="observations" placeholder="Ingrese la observacion del equipo"></textarea>
      </div>
    </div>
    <div class="group-form">
      <div class="form-group">
        <label class="label-form"> Fecha de creacion</label>
        <input class="input-text-form" formControlName="creationDate" type="date" placeholder="Seleccione la fecha de ingreso"/>
      </div>
      <div class="form-group">
        <label class="label-form"> Estado asignacion </label>
        <select class="input-text-form" formControlName="assignmentStatus" type="text">
          <option value="" disabled selected hidden>seleccione la asignacion</option>
          <option value="a">persona 1</option>
          <option value="a">persona 2</option>
          <option value="a">persona 3</option>
        </select>
      </div>
    </div>
    <div class="button">
      <button class="button-primary"> Agregar </button>
    </div>
  </form>
</div>
