<div class="container">
    <div class="container-block">
      <div class="left-side">
        <img src="../../../../../assets/images/backgroundLogin.png" class="bg-login"/>
        <img src="../../../../../assets/images/phoneLogin.png" class="phone-login" />
        <img src="../../../../../assets/images/handsLogin.png" class="hands-login"/>
      </div>
      <div class="rigth-side">
        <div class="header-option">
            <span class="header-selected">Iniciar sesion</span>
        </div>
        <div class="text-center">
            Recuperar contraseña
        </div>
        <form [formGroup]="formRecovery" class="form-login" (ngSubmit)="onSubmit($event)" *ngIf="!token">
          <div class="form-control">
            <label>Correo Electronico:</label>
            <input type="text" formControlName="email" placeholder="Ingrese correo electronico">
            <div *ngIf="formRecovery.controls['email'].invalid && pushSubmit" class="alert">
              <div *ngIf="formRecovery.controls['email'].errors">
                Debes escribir un correo electronico
              </div>
            </div>
          </div>
          <div class="button-container">
            <button type="submit">Enviar</button>
          </div>
        </form>
        <form [formGroup]="formRecovery" class="form-login" (ngSubmit)="onSubmit($event)" *ngIf="token">
          <div class="form-control">
            <label>Contraseña:</label>
            <input type="password" formControlName="password" placeholder="Ingrese la nueva contraseña">
            <div *ngIf="formRecovery.controls['password'].invalid && pushSubmit" class="alert">
              <div *ngIf="formRecovery.controls['password'].errors">
                La contraseña debe tener mas de 5 letras
              </div>
            </div>
          </div>
          <div class="form-control">
            <label>Repetir Contraseña:</label>
            <input type="password" formControlName="passwordRepeat" placeholder="Vuelva a escribir la contraseña">
            <div *ngIf="formRecovery.controls['passwordRepeat'].invalid && pushSubmit" class="alert">
              <div *ngIf="formRecovery.controls['passwordRepeat'].errors">
                La contraseña debe tener mas de 5 letras
              </div>
            </div>
          </div>
          <div class="button-container">
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
