<div class="container">
    <div class="container-block">
      <div class="left-side">
        <img src="../../../../../assets/images/backgroundLogin.png" class="bg-login"/>
        <img src="../../../../../assets/images/phoneLogin.png" class="phone-login" />
        <img src="../../../../../assets/images/handsLogin.png" class="hands-login"/>
      </div>
      <div class="rigth-side">
        <div class="header-option">
            <span class="header-selected">Iniciar sesion</span>
        </div>
        <div class="text-center">
            Recuperar contraseña
        </div>
        <form [formGroup]="formLogin" class="form-login">
          <div class="form-control">
            <label>Correo Electronico:</label>
            <input type="text" formControlName="email" placeholder="Ingrese correo electronico">
          </div>
          <div class="button-container">
            <button routerLink="/">enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
