<div class="container">
  <img src="../../../../../assets/images/lupa.png" alt="lupa" class="lupa"/>
  <div class="title">
    <span class="material-icons">
      devices
    </span>
    <span>Consultar recursos</span>
  </div>

  <div class="container-search">
    <input type="text" class="input-search" placeholder="Buscar recursos" />
    <div class="button-container">
      <button class="button-primary button-size">Buscar</button>
      <button class="button-secondary button-size">Limpiar</button>
    </div>
  </div>

  <div class="container-result" *ngIf="resources">
    <div class="filter-item-search" *ngFor="let arrayFiltered of resources">
      <span class="letter-filter">{{arrayFiltered.letter}}</span>
      <div *ngFor="let item of arrayFiltered.resources" (click)="hanldeRedirect(item)">
        <div class="item-search">
          <div class="icon-search" *ngIf="item.hardware !== null">
            H
          </div>
          <div class="icon-search" *ngIf="item.software !== null">
            S
          </div>
          <div class="information-search">
            <ng-container *ngIf="item.hardware !== null">
              <span class="information-col">{{item.hardware.name}}</span>
              <span class="information-col">{{item.hardware.type}}</span>
              <span class="information-col">{{item.hardware.brand}}</span>
            </ng-container>
            <ng-container *ngIf="item.software !== null">
              <span class="information-col">{{item.software.name}}</span>
              <span class="information-col">{{item.software.type}}</span>
              <span class="information-col">{{item.software.brand}}</span>
            </ng-container>
          </div>
          <div class="options-search">
            <span class="material-icons">
              edit
            </span>
            <span class="material-icons">
              delete
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
