.container-all {
  display: flex;
  flex-direction: row;
  width: 100vw;

  .show {
    visibility: visible;
    @media screen and (min-width: 900px) {
      visibility: visible
    }
  }

  .hiden {
    visibility: hidden;
    @media screen and (min-width: 900px) {
      visibility: visible
    }
  }

  .calendar-field-icon::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
  }


  .container-all-content{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-image: url('../../../../../assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .w-75 {
    @media screen and (min-width: 900px) {
      margin-left: 4rem;
    }
  }
  .w-90 {
    @media screen and (min-width: 900px) {
      margin-left: 14.1rem;
    }
  }
}


