<div class="container">
  <img src="../../../../../../assets/images/pencil.png" alt="pencil" class="pencil"/>
  <div class="title">
    <span class="material-icons">
      menu_book
    </span>
    <span>Crear asignación</span>
  </div>
  <form class="container-form" [formGroup]="formCreateAssigment" (ngSubmit)="onSubmit($event)">
    <div class="group-form">
      <div class="form-group">
        <label class="label-form">Empleado</label>
        <p *ngIf="user" class="items-center">
          <span class="material-icons">person</span>
          {{user.name}} {{user.lastName}}
        </p>
        <button (click)="openModalUser()" type="button" class="button-primary">
          Escoger
        </button>
        <div *ngIf="formCreateAssigment.controls['user'].invalid && pushSubmit" class="alert">
          <div *ngIf="formCreateAssigment.controls['user'].errors">
            Debes seleccionar un empleado
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="label-form">Recurso</label>
        <p *ngIf="resource" class="items-center">
          <span class="material-icons">smartphone</span>
          {{resource.hardware && resource.hardware.name}}
          {{resource.software && resource.software.name}}
        </p>
        <button (click)="openModalResource()" type="button" class="button-primary">
          Escoger
        </button>
        <div *ngIf="formCreateAssigment.controls['resource'].invalid && pushSubmit" class="alert">
          <div *ngIf="formCreateAssigment.controls['resource'].errors">
            Debes seleccionar un recurso
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="label-form"> Descripcion</label>
      <textarea class="text-text-form" formControlName="description" placeholder="Ingresar la descripcion del incidente"></textarea>
      <div *ngIf="formCreateAssigment.controls['description'].invalid && pushSubmit" class="alert">
        <div *ngIf="formCreateAssigment.controls['description'].errors">
          La descripción debe tener mas de 5 caracteres
        </div>
      </div>
    </div>

    <div class="button">
      <button class="button-primary" type="submit"> Agregar </button>
    </div>
  </form>
</div>
