<div class="container">
  <div class="title">
    <span class="material-icons">
      visibility
    </span>
    <span>ver recurso</span>
  </div>

  <div class="basic-information">
    <div class="icon">
      H
    </div>
    <div class="information">
      <span>name</span>
      <span>tipo</span>
    </div>
    <div class="status">
      Activo
    </div>
  </div>

  <div class="container-float">
    <div class="container-information-float w-50">
      <div class="title-contain-information">
        <span class="material-icons">
          calendar_month
        </span>
        <span>Fecha de adquisición</span>
      </div>
      <span> 15/03/2021 </span>
    </div>
    <div class="container-information-float w-50">
      <div class="title-contain-information">
        <span class="material-icons">
          calendar_month
        </span>
        <span>Fecha de culminación</span>
      </div>
      <span> 15/03/2024 </span>
    </div>
  </div>

  <div class="container-float">
    <div class="container-information-float w-100">
      <div class="title-contain-information">
        <span>Descripción</span>
      </div>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non leo enim. Morbi eget luctus mauris. Nullam vel mattis ligula. Cras non facilisis leo. Curabitur eu lacus ipsum. Proin luctus commodo sem quis consectetur. Quisque aliquam volutpat volutpat. Aenean fringilla tortor ut erat fringilla, at ultrices tortor euismod.</span>
    </div>
  </div>


</div>
