<div class="container" *ngIf="resource">
  <div class="title">
    <span class="material-icons">
      visibility
    </span>
    <span>ver recurso</span>
  </div>

  <div class="basic-information">
    <div class="icon">
      {{resource.hardware === null ? 'F' : 'H'}}
    </div>
    <div class="information" *ngIf="resource.hardware">
      <span>{{resource.hardware.name}}</span>
      <span>{{resource.hardware.type}}</span>
    </div>
    <div class="information" *ngIf="resource.software">
      <span>{{resource.software.name}}</span>
      <span>{{resource.software.type}}</span>
    </div>
    <div class="status">
      {{resource.hardware?.status?.name}}
      {{resource.software?.status?.name}}
    </div>
  </div>

  <div class="container-float">
    <div class="container-information-float w-50">
      <div class="title-contain-information">
        <span class="material-icons">
          calendar_month
        </span>
        <span>Fecha de adquisición</span>
      </div>
      <span>
        {{resource.hardware?.acquisitionDate}}
        {{resource.software?.acquisitionDate}}
      </span>
    </div>
    <!-- <div class="container-information-float w-50">
      <div class="title-contain-information">
        <span class="material-icons">
          calendar_month
        </span>
        <span>Fecha de culminación</span>
      </div>
      <span> 15/03/2024 </span>
    </div> -->
  </div>

  <div class="container-float">
    <div class="container-information-float w-100">
      <div class="title-contain-information">
        <span>Descripción</span>
      </div>
      <p *ngIf="resource.hardware">
        {{resource.hardware.observations}}
      </p>
      <p *ngIf="resource.software">
        {{resource.software.observations}}
      </p>
    </div>
  </div>

  <div class="container-float">
    <div class="container-information-float w-100">
      <div class="title-contain-information">
        <span>Asignado</span>
      </div>
      <div *ngIf="assigment">
        <div class="item-search">
          <div class="icon-search">
            {{assigment.user.name.slice(0,1)}}
          </div>
          <div class="information-search">
           <span class="information-col">
            {{assigment.user.name}} {{assigment.user.lastName}}
          </span>
          </div>
          <div class="options-search">
            <span class="material-icons">
              edit
            </span>
            <span class="material-icons">
              delete
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
