<div class="container">
    <img src="../../../../../assets/images/lupa.png" alt="lupa" class="lupa"/>
    <div class="title">
      <span class="material-icons">
        menu_book
      </span>
      <span>Incidente</span>
    </div>

    <div class="container-search">
      <input type="text" class="input-search" placeholder="Buscar Incidente" />
      <div class="button-container">
        <button class="button-primary button-size">Buscar</button>
        <button class="button-secondary button-size">Limpiar</button>
      </div>
    </div>

    <div class="container-result" >
      <div class="filter-item-search" *ngFor="let arrayFiltered of incidents">
        <span class="letter-filter">{{arrayFiltered.letter}}</span>

        <div *ngFor="let item of arrayFiltered.incident">
          <div class="item-search">
            <div class="icon-search">
              H
            </div>
            <div class="information-search">
             <span class="information-col">{{item.assigment.user.name}} {{item.assigment.user.lastName}}</span>
              <span class="information-col">{{item.assigment.resource.hardware ? item.assigment.resource.hardware.name : item.assigment.resource.software?.name}}</span>
              <span class="information-col">{{item.incidentStatus.name}}</span>
            </div>
            <div class="options-search">
              <span class="material-icons" (click)="hanldeRedirect(item)">
                visibility
              </span>
              <span class="material-icons" (click)="editIncidents(item)">
                edit
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
