<div class="container" *ngIf="user">
    <div class="title">
      <span class="material-icons">
        visibility
      </span>
      <span>Ver persona</span>
    </div>

    <div class="basic-information">
      <div class="icon">
        <img src="../../../../../assets/vectors/profilePreterminate.svg"/>
      </div>
      <div class="information">
        <span>{{user.name}} {{user.lastName}}</span>
        <span>Cargo</span>
      </div>
      <div class="status">
        {{user.role.name}}
      </div>
    </div>

    <div class="container-float">
      <div class="container-information-float w-100">
        <div class="title-contain-information">
          <span>Información basica</span>
        </div>
        <div class="basic-info">
          <div>
            <ul>
              <li class="item-basic">
                <span class="material-icons">
                  mail
                </span>
                {{user.email}}
              </li>
              <li class="item-basic">
                <span class="material-icons">
                  call
                </span>
                {{user.phone1}}
              </li>
              <li class="item-basic">
                <span class="material-icons">
                  badge
                </span>
                {{user.nit}}
              </li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="item-basic">
                <span class="material-icons">
                  cake
                </span>
                {{user.bornDate}}
              </li>
              <li class="item-basic">
                <span class="material-icons">
                  calendar_month
                </span>
                TODO: 21 Años
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-float">
      <div class="container-information-float w-100">
        <div class="title-contain-information">
          <span>Recursos asignados</span>
        </div>
        <div *ngFor="let item of [1,2,3,4]" routerLink="/resource/detail/software">
          <div class="item-search" [ngClass]="{'first-element': item === 1,'last-element': item === 4 }">
            <div class="icon-search">
              S
            </div>
            <div class="information-search">
             <span class="information-col">Nombre</span>
            </div>
            <div class="options-search">
              <span class="material-icons">
                edit
              </span>
              <span class="material-icons">
                delete
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
