/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


:root {
  --color-primary: #60D3C2;
  --color-secondary: #36465D;
  --color-third: #283344;
  --color-inputs: rgba(54, 70, 93, 0.3);
  --color-good: #A7C694;
  --color-failed: #DF2F44;
  --text-white: #ffffff;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 28px;
  --small: 300px;
  --medium: 900px;
  --large: 1080px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

text-xs {
  font-size: 12px;
}
text-sm{
  font-size: 14px;
}
text-base{
  font-size: 16px;
}
text-lg {
 font-size: 18px;
}
text-xl {
  font-size: 20px;
}
text-2xl {
  font-size: 24px;
}
text-3xl {
  font-size: 28px;
}

.hidden {
  display: none;
}


// forms clases
.form-group{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--text-white);

  label {
    font-size: var(--text-lg);
    font-weight: 700;
  }

  input{
    padding: 1rem 0rem 1rem 1rem;
    background: var(--color-inputs);
    border-radius: 20px;
    border: 0;
    width: 100%;
    color: var(--text-white);
    &::placeholder {
      color: var(--text-white);
    }
  }

  select{
    padding: 1rem;
    background: var(--color-inputs);
    border-radius: 20px;
    color: var(--text-white);
    border: 0;
    width: 100%;
    option {
      padding: 0.5rem;

    }
  }

  textarea {
    background: var(--color-inputs);
    border: 0;
    border-radius: 20px;
    padding: 1rem;
    color: var(--text-white);
    font-family: 'Montserrat', sans-serif;
    &::placeholder {
      color: var(--text-white);
    }
  }
}

//bottom clases
.button-primary{
  background-color: var(--color-primary);
  padding: 1rem 3rem;
  border: none;
  border-radius: 3rem;
  color: var(--text-white);
  font-weight: 800;
  cursor: pointer;
}

.button-secondary{
  background-color: var(--color-third);
  border: none;
  color: white;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

// with porcent
.w-50{
  width: 50%;
}
.w-100 {
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: var(--color-secondary) !important;
}

.flex-column-gap-3 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
