<div class="container">
    <img src="../../../../../../assets/images/pencil.png" alt="pencil" class="pencil"/>
    <div class="title">
      <span class="material-icons">
        person
      </span>
      <span>Agregar Usuario</span>
    </div>
    <div class="container-form">
      <div class="group-form">
        <div class="form-group">
          <label class="label-form">Nombres</label>
          <input class="input-text-form" type="text" placeholder="Ingrese el nombre"/>
        </div>
        <div class="form-group">
          <label class="label-form">Apellidos</label>
          <input class="input-text-form" type="text" placeholder="Ingrese el apellido"/>
        </div>
      </div>
      <div class="group-form">
        <div class="form-group">
          <label class="label-form">Cedula</label>
            <input class="input-text-form" type="text" placeholder=""/>
        </div>
        <div class="form-group">
          <label class="label-form">Celular</label>
          <input class="input-text-form" type="text" placeholder="Ingrese el modelo del equipo"/>
        </div>
      </div>
      <div class="group-form">
      <div class="group-form-half">
        <div class="form-group">
          <label class="label-form">Rol</label>
          <select class="input-text-form" type="text">
            <option value="" disabled selected hidden>Seleccione el rol</option>
            <option value="a">Administrador</option>
            <option value="a">Coordinador</option>
            <option value="a">Asesor</option>
          </select>
        </div>
        <div class="form-group">
          <label class="label-form">Cargo</label>
          <input class="input-text-form" type="text" placeholder=""/>
        </div>
      </div>
      <div class="form-group">
        <label class="label-form"> Direccion</label>
        <textarea class="text-text-form" placeholder="Ingrese la direccion y detalles"></textarea>
      </div>
    </div>
      <div class="group-form">
        <div class="form-group">
          <label class="label-form"> Fecha de nacimiento</label>
          <input class="input-text-form" type="date" placeholder="Seleccione la fecha de ingreso"/>
        </div>
        <div class="group-form-half">
        <div class="form-group">
          <label class="label-form"> Usuario </label>
          <span>usuario</span>
        </div>
        <div class="form-group">
          <label class="label-form"> Contraseña </label>
          <span>H2d9lr6g</span>
         
        </div>
      </div>
      </div>
      <div class="button">
        <button class="button-primary"> Agregar </button>
      </div>
    </div>
  </div>
  